*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 600;
    padding-left: 5px;
}

.banner{
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
    background-size:350px;
    padding:35px 0 15px 10px;
}

.logo{
    width:150px;
}

.title{
    font-size:40px;
    padding-top:10px;
    font-weight: bolder;
    line-height: 90%;
}

.address{
    font-style: normal;
    color:rgb(121, 114, 114);
}

.link{
    text-decoration: none;
    color: #4ea0ff;
}

.data , .description{
    font-size: small;
}

.tim-images{
    padding-top: 20px;
}

.article{
    margin-top:15px;
}

.highlighted_text{
    background-color:rgba(251, 255, 0, 0.7);
}

.list {
    padding-left: 20px;
}

